body{
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.corazon{
    height: 100px;
    width: 100px;
background-color: red;
position: center;
box-shadow: 10px 10px 90px rgba(255, 0, 0);
animation: animheart .6s linear infinite;
}
 @keyframes animheart{
     0%{
         transform: rotate(-45deg) scale(1.07);
     }
     50%{
        transform: rotate(-45deg) scale(1);
     }
     100%{
        transform: rotate(-45deg) scale(.8);
     }
 }
 .corazon::before{
        content: "";
        position: absolute;
        height: 100px;
        width: 100px;
        background-color: red;
        border-radius: 50%;
        top: -50px;
        left: 0;
        box-shadow: 10px -10px 90px rgba(255, 0, 0);
        animation: animheart2 .6s linear infinite;
 }
.corazon::after{
    content:"";
    position: absolute;
box-shadow: 10px -10px 90px rgba(255, 0, 0);
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
right: -50px;

}
.titulo{
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:right;
    margin-top: 20px;
}
